<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        /* add your custom styles here */
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Check Weather</h4>
                    </div>
                    <div class="card-body">
                        <form id="weather-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="city">City Name:</label>
                                <input type="text" class="form-control" id="city" name="city" placeholder="Enter city name">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Get Weather</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card" style="display: none;" id="weather-card">
                    <div class="card-header">
                        <h4 class="text-center">Weather Information</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">City: <span id="city-name"></span></li>
                            <li class="list-group-item">Temperature: <span id="temperature"></span> &#8451;</li>
                            <li class="list-group-item">Humidity: <span id="humidity"></span> %</li>
                            <li class="list-group-item">Description: <span id="description"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#weather-form').submit(function(event) {
                event.preventDefault();
                var city = $('#city').val();
                $.ajax({
                    url: '/get_weather',
                    data: {city: city},
                    type: 'POST',
                    dataType: 'json',
                    success: function(response) {
                        if (response.error) {
                            alert(response.error);
                        } else {
                            $('#city-name').html(response.city);
                            $('#temperature').html(response.temp);
                            $('#humidity').html(response.humidity);
                            $('#description').html(response.description);
                            $('#weather-card').show();
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
